*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	background-color: black;
	color: orange;
}


nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;	
	position: sticky;
	top: 0;
	background-color: black;
	color: white;

}

#email{
	margin: 0 10em;
}

#tabs{
	margin: 0 10em;
}

#tabs > a{
	color: orange;
	text-decoration: none;
	border-bottom: 3px solid white;
	padding: 5px;
	transition: all 0.3s ease-in;
}

#tabs > a:hover{
	font-size: large;
	color: white;
}

#intro{
	color: orange;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#intro > img{
	border-radius: 50%;
	width: 420px;
	height: 385px;
}

.stack-sans-notch-solid {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

#intro > a{
	color: white;
	text-decoration: none;
}

.intro-links > a{
	text-decoration: none;
	color: grey;
	font-size: 40px;
	transition: ease 0.3s;
}

.intro-links > a:hover{
	text-decoration: none;
	color: orange;
	font-size: 50px;
}

.download-links{
	margin-top: 10px;
	padding: 5px;
}
.download-button{
	text-decoration: none;
	border: 2px solid orange;
	padding: 7px;
	border-radius: 8px;
	color: orange;
	transition: ease-out 0.3s;
	margin: 0px 10px;
}

.download-button:hover{
	color: white;
	background-color: orange;
}

article{
	padding: 15px;
}

article > p {
	margin: 0 0 1rem 0;
}

header{
	margin: 3em auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

header h1 {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1rem;
	border-bottom: 4px solid orange;
	border-radius: 1px;
}


.projects{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	gap: 8em;

}

.project-card{
	display: flex;
	width: 50em;
	height: 25em;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.801);
	color: black;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px;
}

.screenshot > img{
	width: 550px;
	height: auto;
	border-radius: 8px;
	    box-shadow: 0 8px 24px rgba(0,0,0,0.6);

}


.experiences{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.experience-card{
	width: 44em;
	display: flex;
	border-left: 5px solid orange;
	border-radius: 4px;
	padding: 7px;
	justify-content: space-between;
	margin-bottom: 30px;
	

}

.experience-card > p{
	color: gray;
}

.role-time{
	width: 18em;
	/* margin-right: 20px; */
}
.company-location{
	width: 18em;
	/* margin-right: 20px; */
}

#languages{
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.languages{
	display: flex;
	justify-content: space-between;
	width: 60em;
}

.language-icon > p{
	font-weight: 700;
	font-size: x-large;
}

.language-icon{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.language-icon > p > i{
	font-size: 80px;
}