*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	background-color: black;
	color: orange;
}


nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;	
	position: sticky;
	top: 0;
	background-color: black;
	color: white;

}

#email{
	margin: 0 10em;
}

#tabs{
	margin: 0 10em;
}

#tabs > a{
	color: orange;
	text-decoration: none;
	border-bottom: 3px solid white;
	padding: 5px;
	transition: all 0.3s ease-in;
}

#tabs > a:hover{
	font-size: large;
	color: white;
}

#intro{
	color: orange;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#intro > img{
	border-radius: 50%;
	width: 420px;
	height: 385px;
}

.stack-sans-notch-solid {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

#intro > a{
	color: white;
	text-decoration: none;
}

.intro-links > a{
	text-decoration: none;
	color: grey;
	font-size: 40px;
	transition: ease 0.3s;
}

.intro-links > a:hover{
	text-decoration: none;
	color: orange;
	font-size: 50px;
}

.download-links{
	margin-top: 10px;
	padding: 5px;
}
.download-button{
	text-decoration: none;
	border: 2px solid orange;
	padding: 7px;
	border-radius: 8px;
	color: orange;
	transition: ease-out 0.3s;
	margin: 0px 10px;
}

.download-button:hover{
	color: white;
	background-color: orange;
}